@charset UTF-8;

/*
List of Colors
Maroon: #6d213cff
Blue: #adb9e3ff
Green: #869d7aff
Yellow: #feb95fff
Brown: #8b5d33ff
*/

body, html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100%;
  margin: 0px;
  background-color: white;

  font-size: 100%;

  box-sizing: border-box;
}

h1 {
  font-family: 'Open Sans';
  text-align: center;
  color: white;
  background-color: #6d213cff;
}

a {
  font-family: 'Open Sans';
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: 'Open Sans';
}

li {
  font-family: 'Open Sans';
}

/* NAVBAR RULES */

.navbar {
  background-color: #6d213cff;
  border-radius: 0px;
  border-width: 0px;
}

.navbar-home {
  transition: 1s;
}

.navbar-home:hover {
  font-size: 1.15em;
  font-weight: 900;
  letter-spacing: 2px;
}

.navbar a {
  color: white;
  padding-right: 0px;
}

.navbar-brand p {
  float: right;
  margin-top: 6px;
  margin-left: 5px;
  font-weight: 900;
}

#navbarvertical {
  width: 768px;
}

.navbar-collapse {
  border-color: #6d213cff;
}

.navbar-nav {
  list-style-type: none;
  padding-left: 25px;
  border-width: 0px;
}

.navbar button {
  float: right;
  background-color: #6d213cff;
  border-width: 0px;
  margin-top: 18px;
  margin-right: 15px;
  margin-bottom: 20px;
}

@media (min-width: 767px) {
    .navbar-menu {
      display: none;
    }

    .nav-item {
      padding-top: 17px;
      padding-bottom: 17px;
      font-size: 1.25em;
    }

    .navbar-nav li a {
      padding-top: 17px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 18px;
      transition: 1s;
    }

    .navbar-nav li a:hover {
      background-color: white;
      color: #6d213cff;
    }
}

@media (max-width: 767px) {
    .navbar-menu {
      display: inline;
    }

    .nav-item {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 1.2em;
    }

    .navbar-nav li a {
      padding-top: 10px;
      padding-bottom: 10px;
      transition: 2s;
    }

    .navbar-nav li a:hover {
      font-size: 1.15em;
      font-weight: 900;
      letter-spacing: 2px;
    }
}

/* STEM RULES */

.show{
  display: block;
}

.hide{
  display:none;
}

.stem-heading h1 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.stem {
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: center;
  margin-bottom: 5vh;
}

.stem-instructions {
  color: #6d213cff;
  font-style: italic;
  font-size: 0.8em;
  display: inline;
  margin-bottom: 10px;
}

.stem span {
  margin: 7px;
}

.stem-button-hide {
  border-width: 0px;
  background-color: transparent;
}

.arrow{
  margin-top: 10px;
  margin-bottom: 20px;
  height: 35px;
  width: 65px;
  transition: 1s;
  cursor: pointer;
}

.arrow:hover {
  opacity: 0.5;
  height: 30px;
  width: 75px;
}

.yogDisplay {
  color: #6d213cff;
  font-size: 1.25em;
  display: inline;
  font-family: 'Open Sans';
}

#yogDisplay{
  color: #6d213cff;
  font-size: 1.25em;
  display: inline;
  font-weight: 900;
}

#searchWrapper {
  position: relative;
}

#searchWrapper::after {
  content: '🔍';
  position: absolute;
  top: 14px;
  right: 8px;
}

.stem input {
  padding: 8px 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #6d213cff;
  outline: none;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-size: 0.5cm;
  width: 100%;
}

.stem input:focus {
  background-color: white;
}

#projectsList {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.user {
  list-style-type: none;
  background-color: #eaeaea;
  border-radius: 15px;
  border-color: #6d213cff;
  border-width: 15px;
  padding: 20px 20px;
  display: grid;
  cursor: pointer;
}

.user-grid-image{
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sheen-name {
  line-height: normal;
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: rgb(0,0,0,1);
}

.sheen-name::after {
  content: '';
  width: 20%;
  height: 100%;
  position: absolute;
  left: auto;
  top: 0;
  bottom: 0;
  right: -20%;
  background-image:
    linear-gradient(135deg,
      rgba(255,255,255,0),
      rgba(255,255,255,.8),
      rgba(255,255,255,0)
    );
}

.sheen-name:hover::after {
  transition: all 1s ease-out;
  right: 100%;
}

.sheen-name:hover{
  color:#6d213cff;
}

.modal-dialog{
  width: 90vw;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.modal-content {
  border-width: 0px;
}

.modal-header {
  background-color: #6d213cff;
  border-width: 0px;
  padding-top: 20px;
}

.modal-header button {
  color: white !important;
  opacity: 1;
  display: inline;
  transition: 1s;
}

.modal-header button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal-close {
  font-size: 1.5em;
}

.modal-header p {
  color: white;
  font-size: 2.5em;
}

.modal-body {
  background-color: white;
  padding: 30px;
  position: relative;
  overflow-y: auto;
}

.modal-body img{
  float: left;
  text-align: left;
  width: 100%;
  margin-bottom: 25px;
}

.modal-attribute {
  color: black;
  text-align: center;
  font-size: 1.5em;
}

.modal-description {
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 25px;
}

.modal-quote {
  font-style: italic;
  font-weight: bolder;
  font-size: 1.3em;
  text-align: left;
}

.editable{
  color: #6d213cff;
  font-weight: bolder;
}

/* LOADER RULES */

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6d213cff;
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

/* UTILITY RULES */

.white {
  color: white;
}

.maroon {
  color: #6d213cff;
}

.bgred {
  background-color: #6d213cff;
}

.bggreen {
  background-color: #869d7aff;
}

.bgblue {
  background-color: #adb9e3ff;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.none {
  display: none;
}
