@charset UTF-8;

h1 {
  text-align: center;
  color: white;
  font-family: 'Marcellus SC';
  background-color: #6d213cff;
}
.col

blockquote {
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
}

.navbar {
  background-color: 721D2D;
<<<<<<< HEAD
}

<<<<<<< HEAD
body{
background-color: #ac634b;
}

form {
  width: 500px;
  border: solid 1px;
  padding: 5rem;
  margins: 2rem;
=======
.navbar a {
  color: white;
>>>>>>> 09ab4b149530c5879e330188e77bbe8b0d2e7df8
=======
}

.navbar a {
  color: white;
>>>>>>> 09ab4b149530c5879e330188e77bbe8b0d2e7df8
}

.left {
  text-align: left;
}

<<<<<<< HEAD
<<<<<<< HEAD
.navbar {
  background-color: #6d213cff;
}

.navbar a{
  color:white;
=======
.center {
  text-align: center;
}

.right {
  text-align: right;
>>>>>>> 09ab4b149530c5879e330188e77bbe8b0d2e7df8
}

row {
  display: flex;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

=======
.center {
  text-align: center;
}

.right {
  text-align: right;
}

row {
  display: flex;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

>>>>>>> 09ab4b149530c5879e330188e77bbe8b0d2e7df8
.gridImg {
  width: 150px;
  height: 150px;
  object-fit: cover;
  padding: 0px;
  margin-top: 1.5vh;
}

.border {
  border-style: solid;
  border-radius: 15px;
  border-color: black;
  border-width: 3px;
  padding: 5px;
  margin: 1vw;
  transition: background-color 1s;
  text-align: center;
  min-height: 30vh;
}

<<<<<<< HEAD
<<<<<<< HEAD
.border:hover{
  background-color: lightgrey;
=======
=======
>>>>>>> 09ab4b149530c5879e330188e77bbe8b0d2e7df8
.border:hover {
  background-color: lightgray;
>>>>>>> 09ab4b149530c5879e330188e77bbe8b0d2e7df8
}

.studentname {
  text-align: center;
  margin-top: 2.5vh;
  font-size: 1.25em;
}

.modal-dialog{
  margin: auto;
  margin-top: 5vh;
  width: 500px;
  height: 350px;
}

.modal-header {
    border-bottom: 0 none;
<<<<<<< HEAD
}

.modal-footer {
    border-top: 0 none;
}

.modalname {
  text-align: center;
  margin-top: 2.5vh;
  font-size: 3em;
}

=======
}

.modal-footer {
    border-top: 0 none;
}

.modalname {
  text-align: center;
  margin-top: 2.5vh;
  font-size: 3em;
}

>>>>>>> 09ab4b149530c5879e330188e77bbe8b0d2e7df8
.modalimage{
  text-align: left;
  margin-left: 2vw;
  width: 100%;
}

.modalattribute{
  margin-left: 2vw;
  margin-top: 2vh;
  font-size: 1.25em;
}

.modaltext{
  margin-left: 2vw;
  font-size: 1.25em;
}

/* sm */
@media (min-width: 768px) {
    .gridImg {
      width: 100px;
      height: 100px;
      object-fit: cover;
      padding: 0px;
    }
    .border{
      min-height: 28vh;
    }
    .modal-dialog{
      margin: auto;
      margin-top: 5vh;
      width: 800px;
      height: 560px;
    }
}

/* md */
@media (min-width: 992px) {
    .gridImg {
      width: 125px;
      height: 125px;
      object-fit: cover;
      padding: 0px;
    }
    .border{
      min-height: 29vh;
    }
    .modal-dialog{
      margin: auto;
      margin-top: 5vh;
      width: 1000px;
      height: 700px;
    }
}

/* lg */
@media (min-width: 1200px) {
    .gridImg {
        width: 150px;
        min-height: 150px;
        object-fit: cover;
        padding: 0px;
    }
    .border{
      min-height: 30vh;
    }
    .modal-dialog{
      margin: auto;
      margin-top: 5vh;
      width: 1200px;
      height: 840px;
    }
}
