.navbar{
  background-color: 721D2D;

}

.navbar a{
  color: white;
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
  }

.h1 {
  text-align: center;
}

.blockquote {
  text-align: center;
}


=======
.Rkhive{
  background-color: red;
}
